#main-header {
	
	background:#2964a3;
	color: blue;
	height: 100px;
	
	width: 820px; 
	
	margin:0 auto 0 auto;
	
}

#title_ {
	
	color: white;
	font-weight:bold;
	font-family: "Times New Roman", Georgia, Serif;
	font-size:20;
	height: 50px;
	margin:0 auto 0 auto;

	
	width: 800px; /* hacemos que la cabecera ocupe el ancho completo de la página */
	
	display: flex;
	
	justify-content: center;
   align-items: center;
	
	
}



#opciones {
	

	
	height: 30px;

	width: 800px; /* hacemos que la cabecera ocupe el ancho completo de la página */

}


#opciones a img
{
	float: right;
		justify-content: right;
	align-items:right;
	width:40px;
	height:20px;
	
}


#opciones a {
    float: left;
    color: #f2f2f2;
	font-weight:bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

	background:linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
    color: white;
	margin-left:10px;
}

#opciones a:hover {
    background-color: #ddd;
    color: black;
}

.title{
	height:30px;
	/*background:rgba(169,3,41,1);*/
	background: linear-gradient(to bottom, #990000 0%, #ff99cc 100%);
	width:820px;
	margin-bottom:7px;
	
	

	display:flex;
	justify-content:center;
	align-items:center;
	
}

.title text{
	color:white;
	font-weight:bold;
	font-family:Courier New;
	font-size:15px;	
	
	
}

  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  
    .boton_personalizado:hover{
    color: #1883ba;
    
	background-color:green;
  }
  
  
  .div_mesa{
	  padding:10px;
	  margin-top:100px;
	  width:500px;
	  height:400px;
	  background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	  
	  
  }
  
  .div_mesa p {
	  
	  color:#3d429e;  
	  font-size:25px;
	  font-weight:bold;
	  
  }
  
  .div_mesa p1{
	  
	  font-weight:bold;
  }
  
  .div_mesa select{
	  width:150px;
	  height:25px;
	  
	  
  }