#main-header {
	/*background: #ff6666;*/
	background:#2964a3;
	color: blue;
	height: 100px;
	
	width: 95%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	
	margin:0 auto 0 auto;
	
}

/*#title {
	
	color: white;
	font-weight:bold;
	font-family: "Times New Roman", Georgia, Serif;
	font-size:20;
	height: 50px;
	margin:0 auto 0 auto;

	
	width: 95%; 
	
	display: flex;
	
	justify-content: center;
   align-items: center;
	
	
}
*/
#opciones {
	

	
	height: 30px;

	width: 90%; /* hacemos que la cabecera ocupe el ancho completo de la página */

}


#opciones a img
{
	float: right;
		justify-content: right;
	align-items:right;
	width:40px;
	height:20px;
	
}


#opciones a {
    float: left;
    color: #f2f2f2;
	font-weight:bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

	background:linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
    color: white;
	margin-left:10px;
}

#opciones a:hover {
    background-color: #ddd;
    color: black;
}


body{
	
}

.contain{
	
	height:120px;
	width:820px;
	
	
	
	
	
	
        vertical-align: middle;
        text-align: center; /* requerido para alineación horizontal */
	     
	
	
}
.contain_2{
	height:600px;
	background-color:blue;
	
}


.title{
	height:30px;
	background:rgba(169,3,41,1);
	width:90%;
	margin-bottom:7px;
	
	

	display:flex;
	justify-content:center;
	align-items:center;
	
}

.title text{
	color:white;
	font-weight:bold;
	font-family:Courier New;
	font-size:15px;	
	
	
}

 .left{
	
	height:115px;
	width:250px;
	float:left;

	 
}

.left img{
	margin-top:7px;
	
 vertical-align:middle;
 text-align:center;
	
	height:100px;
	width:120px;
	
}


.right {
	
	height:115px;
	float:right;
	width:500px;
	

	display:flex;
	justify-content:left;
	align-items:left;
	
}

.right p{
	margin: 10px 5px 5px 5px;
	text-align:left;
}